[package]
name = "tt"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rayon = "1.5.1"
libc = "0.2.99"
thiserror = "1.0.26"
lazy_static = "1.4.0"